.logo-slider-wrapper {
    position: relative;
    overflow: hidden;
    padding: 0 0;
    padding-top: 20px;
    width:100%;
}

.fade-effect-left,
.fade-effect-right {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.fade-effect-left {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.fade-effect-right {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
